openwakeword==0.6.0
faster-whisper==1.2.1
numpy==2.5.1
sounddevice==0.5.5
edge-tts==7.2.8
pygame-ce==2.5.7
groq==1.5.0
PyAutoGUI==0.9.54
pywin32==312
pywinauto==0.6.9
pycaw==20251023
psutil==7.2.2
requests==2.34.2
python-dotenv==1.2.2